<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.xsznet.aliyun_voice">
    <application>

        <meta-data
            android:name="com.baidu.speech.APP_ID"
            android:value="16455084"/>
        <meta-data
            android:name="com.baidu.speech.API_KEY"
            android:value="7HGDv5wF0zVO2tUYmebPpa6f"/>
        <meta-data
            android:name="com.baidu.speech.SECRET_KEY"
            android:value="HaUXNaK3ESzuB5of10rXzgUNvluD9eYj"/>
    </application>
</manifest>
